
extends layout

block content
  link(type='style/css' href='/stylesheets/style.css')
  div.row
    div.col-4
      h1 Eat Local
    div.col-8
      form(action='/' method='post')
        label Find Farmers Market
          input(type='text' name='search' placeholder="Enter Zip Code" autofocus)
        input(type='submit' value='Find Market' name='button')
  div.row-2  
    div.col-7
      div.map_wrapper
        div#map_canvas
    div.col-5    
      p#change
    div#yo  
      if marketInfo
        each mark in marketInfo
          p.address 
            = mark.marketdetails.Address
          p.google
            = mark.marketdetails.GoogleLink
          p.products
            = mark.marketdetails.Products
          p.schedule 
            = mark.marketdetails.Schedule

  //- div.seasons
  //-   button(onclick='summer()'  id='summer') Summer 
  //-     div.season
  //-   p.text 
    
  script(src='/javascripts/client.js' type='text/javascript')
    //- div.links
    //- p
    //-   a(href='/spring') 
    //-     b Spring 
    //-       |(March, April, May)
    //-   p
    //-   a(href='/summer') 
    //-     b Summer
    //-       | (June, July, August)
    //-   p
    //-   a(href='/fall') 
    //-     b Fall
    //-       | (September, October, November)
    //-   p
    //-   a(href='/winter') 
    //-     b Winter
    //-       | (December, January, February)
