
extends layout

block content
  link(type='style/css' href='/stylesheets/style.css')
  div.row
    div.col-4
      h1 Eat Local
    div.col-8
      form(action='/' method='post')
        label Find Farmers Market
          input(type='text' name='search' placeholder="Enter Zip Code" autofocus)
        input(type='submit' value='Find Market' name='button')
  if errors
    each error in errors
      p.err= error
  div.row-2  
    div.col-7
      div.map_wrapper
        div#map_canvas
    div.col-5   
      p#change
    div.col-12
        a(href='#seasonal' onclick='setVisibility();')#button What's in season?
  div.row-3
      div#seasonal(name='show')
        table
          tr
            th Fall
            th Winter 
            th Spring
            th Summer
          tr
            td Broccoli
            td Brussel Sprouts
            td Apricots
            td Apricots
          tr
            td Brussel Sprouts
            td Chestnuts
            td Arthichokes
            td Beets
          tr
            td Butternut Squash
            td Clementines
            td Asparagus
            td Bell Peppers
          tr
            td Cauliflower
            td Collard Greens
            td Broccoli
            td Blackberries
          tr
            td Cranberries
            td Dates
            td Chives
            td Blueberries
          tr
            td Garlic
            td Grapefruit
            td Corn
            td Cantaloupe
          tr
            td Ginger
            td Kale
            td Green Beans
            td Cherries
          tr
            td Grapes
            td Kiwi
            td Honeydew
            td Corn
          tr
            td Jalapenos
            td Leeks
            td Limes
            td Cucumbers
          tr
            td Mushrooms
            td Mandarin Oranges
            td Mango
            td Eggplant
          tr
            td Pear
            td Oranges
            td Oranges
            td Figs
          tr
            td Pineapple
            td Pear
            td Peas
            td Garlic
          tr
            td Sweet Potatoes
            td Pomegranate
            td Pineapple
            td Grapefruit
          tr 
            td Turnips
            td Sweet Potatoes
            td Rhubarb
            td Grapes
          tr
            td 
            td Tangerines
            td Snow Peas
            td Green Beans
          tr
            td 
            td Turnips
            td Spinach
            td Honeydew
          tr
            td 
            td
            td Strawberries
            td Jalapenos
          tr
            td
            td
            td
            td Limes
          tr
            td
            td
            td
            td Nectarines
          tr
            td
            td
            td
            td Peaches
          tr
            td
            td
            td
            td Plums
          tr
            td
            td
            td
            td Rasberries
          tr
            td
            td
            td
            td Strawberries
          tr
            td
            td
            td
            td Tomatoes
          tr
            td
            td
            td
            td Watermelon
          tr
            td
            td
            td
            td Zuchini
    div#yo  
      if marketInfo
        each mark in marketInfo
          p.address 
            = mark.marketdetails.Address
          p.google
            = mark.marketdetails.GoogleLink
          p.products
            = mark.marketdetails.Products
          p.schedule 
            = mark.marketdetails.Schedule

  script(src='/javascripts/client.js' type='text/javascript')
