extends layout

block content
  div.maincontainer
    h1 What's in season?
    div.links
    p
      a(href='/spring') 
        b Spring 
          |(March, April, May)
      p
      a(href='/summer') 
        b Summer
          | (June, July, August)
      p
      a(href='/fall') 
        b Fall
          | (September, October, November)
      p
      a(href='/winter') 
        b Winter
          | (December, January, February)
