
extends layout

block content
  link(type='style/css' href='/stylesheets/style.css')
  div.maincontainer
  
    //- p= JSON.stringify(response)
    h1 What's in season?
    p
    form(action='/' method='post')
      label Find Farmers Market
      p
        input(type='text' name='search')
        p
      input(type='submit' value='Find Market' name='button')
    div.map_wrapper
      div#map_canvas
    div#yo  
      if marketInfo
        each mark in marketInfo
          p.address 
            = mark.marketdetails.Address
          p.google
            = mark.marketdetails.GoogleLink
          p.products
            = mark.marketdetails.Products

  div.seasons
    button(onclick='summer()'  id='summer') Summer 
      div.season
    p.text 
    
  script(src='/javascripts/client.js' type='text/javascript')
    //- div.links
    //- p
    //-   a(href='/spring') 
    //-     b Spring 
    //-       |(March, April, May)
    //-   p
    //-   a(href='/summer') 
    //-     b Summer
    //-       | (June, July, August)
    //-   p
    //-   a(href='/fall') 
    //-     b Fall
    //-       | (September, October, November)
    //-   p
    //-   a(href='/winter') 
    //-     b Winter
    //-       | (December, January, February)
