doctype html
html(ng-app="markets")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    //- link(rel='stylesheet', href='/stylesheets/googleFont.css')
  body
    block content
