extends ../layout
block content
  a.home(href='/') Home Page
  h1 Spring
    table
      thead
        tr
          th 
          th Item
          th Type
      tbody
        tr
          td 
            img(src='http://www.pafarmcsa.com/images/Crimini%20mushrooms.2.jpg')
          td Mushroom
          td Fungi
